body {
  color: #0B0A06;
  background-color: rgba(84, 182, 191, 0.37);
}

input {
  width: 80%;
  text-align: center;
}

.head-and-foot {
  width: 100%;
  background-color: #F4F4F4;
  color: #0B0A06;
  z-index: 1;
  position: fixed;
  height: 30%;
  padding-left: 10%;
}

menu {
  display: inline-flex;
  margin: 0% 0% 0% -20%;
  
}

#logout{
  font-size: 1rem;
  background-color: #B2080B;
  color: #F4F4F4;
  height: 0%;
  border-radius: 5%;
  padding: 1%;
  width: 46%;
  margin: 25% -15% 0% 0%;
}

ul {
  list-style: none;
 
}

li{
  padding: 0%;
  /* border: 2px solid #ccc; */
  text-align: center;
}

.page {
  display: none;
  width: 100%;
  min-height: 100%;
  position: absolute;
  padding: 1rem 2rem;
  margin-top: 23%;
}

#user-information{
margin-top: 70%;
}

#send{
  margin-top: 10%;

}

.active {
  display: block;
}

.hide{
     display: none;
 }
 
#container {
  width: 80%;
  display: grid;
  margin-left: 10%;
}

#firebaseui-auth-container{
margin-top: 70%;
}

#logo {
  width: 20%;
  margin: 1% 0% 2% 3%;
}

#personalised-welcome {
  width: 60%;
  margin: -3% -3% -3% 3%;
  display: -webkit-inline-box;
  padding-top: 10%;
  text-align: center;
}

#send {
  background-color: #B2080B;
  color: #F4F4F4;
}

/* profile */
.bg-1 {
  background-color: #54B6BF;
  color: #ffffff;
  margin-top: 56%;
  padding-top: 46px;
  padding-bottom: 46px;
}

.bg-2 {
  background-color: #474e5d;
  color: #ffffff;
}

.bg-3 {
  background-color: #ffffff;
  color: #555555;
}

.container-fluid {
  padding-top: 70px;
  padding-bottom: 70px;
}

/* termina profile */
body .dribbble {
  position: fixed;
  display: block;
  right: 20px;
  bottom: 20px;
}

body .dribbble img {
  display: block;
  height: 28px;
}

.btn{
  margin-top: 56%
}
 #wall{
   margin-top: 7%;
 }

