
body {
    color: #0B0A06;
    background-color: #54B6BF;
}

input {
    width: 80%;
    text-align: center;
}

.head-and-foot {
    width: 100%;
    background-color: #F4F4F4;
    color: #0B0A06
}
 .hide{
     display: none;
 }
#container {
    width: 80%;
    display: grid;
    margin-left: 10%;
}

#logo{
    width: 30%;
    margin: -11% 0% 2% 3%;
}

#personalised-welcome{
    width: 60%;
    margin: -3% -3% -3% 3%;
    display: -webkit-inline-box;
    padding-top: 10%;
    text-align: center;
}

#send {
    background-color: #B2080B;
    color: #F4F4F4;
}
 /* profile */
 .bg-1 { 
    background-color:#54B6BF;
    color: #ffffff;
  }
  .bg-2 { 
    background-color: #2471A3;
    color: #ffffff;
  }
  .bg-3 { 
    background-color:#54B6BF;
    color: #ffffff;
  }
  .container-fluid {
    padding-top: 70px;
    padding-bottom: 70px;
  }
  /* termina profile */

  /* boton de modal */
  #publication {
    background-color: #B2080B;
    color: #F4F4F4;

    margin-left: auto;
    margin-right: auto;
    height:65px; 
    width:270px; 
    text-align:left; 
  }