body {
  color: #0B0A06;
  background-color: rgba(84, 182, 191, 0.37);
}

input {
  width: 80%;
  text-align: center;
}

.head-and-foot {
  width: 100%;
  background-color: #F4F4F4;
  color: #0B0A06
}

.page {
  display: none;
  width: 100%;
  min-height: 100%;
  position: absolute;
  padding: 1rem 2rem;
}

.active {
  display: block;
}

.hide{
     display: none;
 }
 
#container {
  width: 80%;
  display: grid;
  margin-left: 10%;
}

#logo {
  width: 30%;
  margin: -11% 0% 2% 3%;
}

#personalised-welcome {
  width: 60%;
  margin: -3% -3% -3% 3%;
  display: -webkit-inline-box;
  padding-top: 10%;
  text-align: center;
}

#send {
  background-color: #B2080B;
  color: #F4F4F4;
}

/* profile */
.bg-1 {
  background-color: #54B6BF;
  color: #ffffff;
}

.bg-2 {
  background-color: #474e5d;
  color: #ffffff;
}

.bg-3 {
  background-color: #ffffff;
  color: #555555;
}

.container-fluid {
  padding-top: 70px;
  padding-bottom: 70px;
}

/* termina profile */
body .dribbble {
  position: fixed;
  display: block;
  right: 20px;
  bottom: 20px;
}

body .dribbble img {
  display: block;
  height: 28px;
}
